/* Need Help? Join my discord @ discord.gg/yWddFpQ */
:root {
    --background-contrast: 95%;
    --background-blur: 3px;
    --loadbar-color: #ffffff5b;
    --loadbar-progress-color: #0000009f;
    --loadbar-height: 27px;
    --footer-font-color: #dfdfdf98;
    --footer-font-size: 24px;
}
