/* Need Help? Join my discord @ discord.gg/yWddFpQ */

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed|Lato');

* {
    font-family: 'Lato', sans-serif;
    text-align: center;
}
body {
    margin: 0px;
    padding: 0px;
    background-color: var(--fadeTo-Color);
	overflow: hidden;
}

.blur {
    -webkit-filter: blur(var(--background-blur)) contrast(var(--background-contrast));
    filter: blur(var(--background-blur)) contrast(var(--background-contrast));
}

.logo {
    height: 320px;
    width: 320px;
	position: absolute;
	top: 35%;
	left: 15%;
}

.loadbar {
    border-radius: 25px;
    width: 48%;
    background-color: var(--loadbar-color);
    height: var(--loadbar-height);
    box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2), 0 6px 12px 0 rgba(0, 0, 0, 0.19);
    margin-left: 2px;
    margin-right: 3px;

    margin-top: 10px;
    margin-bottom: 5px;
	left: 1%;
	bottom: 60px;

    overflow: hidden;

    position: relative;
  
    text-align: center;
    display: block;
}

.yeet {
    width: 10%;
    border-radius: 25px;
    background-color: var(--loadbar-progress-color);
    height: var(--loadbar-height);

    position: absolute;
    left: 10%;
}

#blur {
	width: 50%;
	height: 150%;
	position: absolute;
	top: -50px;
	right: -50px;
	background-color: black;
	opacity: 0.5;
	transform: rotate(10deg);
}

#header {
	top: -7%;
	right: 5%;
	position: absolute;
	font-size: 75px;
	font-weight: bold;
	color: var(--header-font-color);
	opacity: 1;
	text-align: center;
	padding: 10px;
	display: block;
	width: 10ch;
}

#text {
	top: 15%;
	right: 0%;
	position: absolute;
	font-size: 25px;
	color: var(--text-font-color);
	opacity: 1;
	padding: 10px;
	display: block;
	text-align: left;
	width: 42ch;
}

#text li {
	text-align: left;
}

#bg { 
  -webkit-background-size: cover;
  background-size: cover;
   }

#bottom_nav {
    width: 90%;
    vertical-align: text-bottom;
    position: fixed;
    bottom:0px;
    text-align: center;
    z-index:9999;
}
